<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>We'll help you find your place on the web</h1>
            <hr>
            <p>A website is a powerful tool to grow your ideas, build a community, and share what you love.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your website should be as powerful as you are</h2>
                <hr class="light">
                <p class="text-faded"> We're a web development company that specialize in creating and maintaining beautiful websites.</p>
                <a href="#" class="btn btn-default btn-xl">Hook me up!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our process</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Research and planning</h3>
                    <p class="text-muted">We'll help you get clear on your goals. We believe in careful planning and creating a powerful vision.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Development</h3>
                    <p class="text-muted">We'll build your website on a platform that fits your needs. Simple portfolios to complex features, we do it all!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Design</h3>
                    <p class="text-muted">We'll make your site beautiful, we follow modern design principles and use the latest technologies.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Ongoing Love</h3>
                    <p class="text-muted">We'll make sure you get the most out of your site. We believe consistent action over time creates success.</p>
                </div>
            </div>
        </div>
    </div>
</section>
  <div class="col-lg-12 text-center">
                <h2 class="section-heading">Some of our work</h2>
                <hr class="primary">
            </div>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="http://www.chauffeurcharlotte.com/" class="portfolio-box">
                  <img class="img-responsive" src="images/portfolio/cclogo.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Chauffeur Charlotte
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="http://reciprocitycoaching.com/" class="portfolio-box">
                  <img class="img-responsive" src="images/portfolio/reciprocity.png" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Reciprocity Coaching
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="http://invadervapor.com/" class="portfolio-box">
                  <img class="img-responsive" src="images/portfolio/truevader.png" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Invader Vapor
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>

</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get To Work</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>704-287-8940</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:leul@groundedweb.com">leul@groundedweb.com</a></p>
            </div>
        </div>
    </div>
</section>
